<div *ngIf="!isMobile" class="header rounded-full mx-6 mt-4 p-2 px-4 flex items-center justify-between fixed top-0 left-0 right-0 z-50">
  <div class="flex items-center gap-2">
    <img src="assets/logo.png" class="h-10 sm:h-12 w-auto max-w-[120px] sm:max-w-[160px] hidden lg:block">
    <a [routerLink]="'/main'" class="lg:text-2xl text-lg font-bold texto-logo no-underline text-inherit">Cookers</a>
  </div>
  <div class="flex items-center md:gap-10 gap-16 mr-4">
    <a class="color-texto font-semibold hover:text-white" href="/main">Home</a>
    <a class="color-texto font-semibold hover:text-white" href="/explorador">Buscador</a>
    <button class="w-full text-left px-4 py-2" (click)="toggleTheme()" *ngIf="!authService.isLogged()">
      <ion-icon [name]="isLightMode ? 'sunny' : 'moon'" class="text-lg hover:text-white"></ion-icon>
    </button>
    <a class="color-texto font-semibold hover:text-white" href="/registro" *ngIf="!authService.isLogged()">Registro</a>
    <a class="color-texto font-semibold hover:text-white" href="/nutriscore" *ngIf="authService.isLogged()">Nutriscore</a>
    <a class="color-texto font-semibold hover:text-white" href="/login" *ngIf="!authService.isLogged()">Login</a>

    <!-- Icono de chat con notificación -->
    <div class="relative" *ngIf="authService.isLogged()">
      <ion-icon name="paper-plane-outline" class="text-2xl hover:cursor-pointer avion" [routerLink]="'/chat'"></ion-icon>
      <span *ngIf="mensajesNoLeidos > 0"
            class="absolute -top-2 -right-2 bg-red-500 text-white text-xs rounded-full w-5 h-5 flex items-center justify-center">
        {{ mensajesNoLeidos > 9 ? '9+' : mensajesNoLeidos }}
      </span>
    </div>

    <div class="relative">
      <ion-icon name="notifications-outline" *ngIf="authService.isLogged()"
                class="text-2xl hover:cursor-pointer avion"
                (click)="toggleNotificaciones()"></ion-icon>

      <span *ngIf="notificacionesNoLeidasCount > 0" class="absolute top-0 right-0 inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-white bg-[var(--color-rojo-resaltar)] rounded-full transform translate-x-1/2 -translate-y-1/2">
        {{ notificacionesNoLeidasCount }}
      </span>

      <div *ngIf="mostrarNotificaciones" class="absolute right-0 mt-2 w-80 bg-white shadow-xl rounded-lg z-50 border border-gray-200 max-h-96 overflow-y-auto">
        <app-notificaciones
          [visible]="mostrarNotificaciones"
          (cerrarNotificaciones)="handleCerrarNotificaciones()">
        </app-notificaciones>
      </div>
    </div>
    <div class="relative" *ngIf="authService.isLogged()">
      <ion-avatar (click)="toggleMenu()" class="cursor-pointer w-10 h-10">
        <img alt="Avatar" [src]="imagenPerfil" class="w-full h-full rounded-full" />
      </ion-avatar>

      <div *ngIf="menuOpen" class="absolute right-0 mt-2 w-48 bg-white shadow-xl rounded-lg z-50 border border-gray-200">
        <button class="w-full text-left px-4 py-2 hover:bg-gray-100 flex items-center gap-2"[routerLink]="'perfil'">
          Perfil
        </button>
        <button class="w-full text-left px-4 py-2 hover:bg-gray-100 flex items-center gap-2" (click)="logout()">
          Cerrar Sesión
        </button>
        <button class="w-full text-left px-4 py-2 hover:bg-gray-100 flex items-center gap-2" (click)="toggleTheme()">
          <ion-icon [name]="isLightMode ? 'sunny' : 'moon'" class="text-lg"></ion-icon>
          Modo {{ isLightMode ? 'Claro' : 'Oscuro' }}
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isMobile" class="fixed top-0 left-0 right-0 color-verde-claro p-4 flex justify-between items-center z-50 border-b border-b-gray-300">
  <span class="text-lg font-bold texto-logo">Cookers</span>
  <div class="flex items-center gap-4">
    <div class="relative" *ngIf="authService.isLogged()">
      <ion-icon name="notifications-outline" class="text-2xl cursor-pointer" (click)="toggleNotificaciones()"></ion-icon>

      <span *ngIf="notificacionesNoLeidasCount > 0"
            class="absolute top-0 right-0 inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-white bg-[var(--color-rojo-resaltar)] rounded-full transform translate-x-1/2 -translate-y-1/2">
      {{ notificacionesNoLeidasCount }}
    </span>

      <div *ngIf="mostrarNotificaciones" class="absolute right-0 mt-2 w-80 bg-white shadow-xl rounded-lg z-50 border border-gray-200 max-h-96 overflow-y-auto">
        <app-notificaciones
          [visible]="mostrarNotificaciones"
          (cerrarNotificaciones)="handleCerrarNotificaciones()">
        </app-notificaciones>
      </div>
    </div>
  </div>
  <div class="flex gap-5 justify-center">
    <ion-icon [name]="isLightMode ? 'sunny' : 'moon'" class="text-2xl" (click)="toggleTheme()"></ion-icon>

    <!-- Icono de chat con notificación (versión móvil) -->
    <div class="relative">
      <ion-icon name="paper-plane-outline" class="text-2xl" [routerLink]="'/chat'"></ion-icon>
      <span *ngIf="mensajesNoLeidos > 0"
            class="absolute -top-1 -right-1 bg-red-500 text-white text-xs rounded-full w-4 h-4 flex items-center justify-center">
        {{ mensajesNoLeidos > 9 ? '9+' : mensajesNoLeidos }}
      </span>
    </div>
  </div>
</div>
