<!-- Main container -->
<div class="w-full max-w-4xl mx-auto overflow-hidden px-4 sm:px-6 mt-8 sm:mt-16">
    <!-- Fotografia del plato -->
    <div class="w-full h-60 sm:h-80 overflow-hidden rounded-2xl sm:rounded-3xl">
        <img src="https://cdn0.recetasgratis.net/es/posts/5/9/9/mini_cheesecake_o_mini_tarta_de_queso_77995_600.webp"
            alt="Mini Cheesecake o Mini Tarta de queso" class="w-full h-full object-cover">
    </div>

    <!-- Informacion del plato -->
    <div class="mt-6 sm:mt-8">
        <h2 class="text-center text-white font-[Roboto] text-xl sm:text-2xl md:text-3xl"> Comida</h2>
        <p class="text-center text-white font-[Roboto] mt-3 text-sm sm:text-base px-2 sm:px-8 md:px-16">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, dignissimos? Cumque assumenda accusamus
            iure officiis? Repellat error labore dolores temporibus, ex nulla, sint maxime fugiat dignissimos
            repudiandae eligendi! Iusto, nemo.
        </p>
    </div>
    <!--Informacion de la receta-->
    <div class="w-full max-w-sm sm:max-w-md md:max-w-lg mx-auto mt-6 sm:mt-8">
        <ul class="flex justify-between">
            <li>
                <div class="border border-[#003836] rounded-full w-10 h-10 sm:w-14 sm:h-14 md:w-16 md:h-16 bg-[#003836]">
                </div>
            </li>
            <li>
                <div class="border border-[#003836] rounded-full w-10 h-10 sm:w-14 sm:h-14 md:w-16 md:h-16 bg-[#003836]">
                </div>
            </li>
            <li>
                <div class="border border-[#003836] rounded-full w-10 h-10 sm:w-14 sm:h-14 md:w-16 md:h-16 bg-[#003836]">
                </div>
            </li>
            <li>
                <div class="border border-[#003836] rounded-full w-10 h-10 sm:w-14 sm:h-14 md:w-16 md:h-16 bg-[#003836]">
                </div>
            </li>
            <li>
                <div class="border border-[#003836] rounded-full w-10 h-10 sm:w-14 sm:h-14 md:w-16 md:h-16 bg-[#003836]">
                </div>
            </li>
        </ul>
    </div>
</div>