<!-- Main container -->
<div class="w-full max-w-4xl mx-auto overflow-hidden px-4 sm:px-6 mt-8 sm:mt-16">
    <!-- Fotografia del plato -->
    <div class="w-full h-60 sm:h-80 overflow-hidden rounded-2xl sm:rounded-3xl">
        <img [src]="receta.imagen" [alt]="receta.nombre" class="w-full h-full object-cover rounded-2xl sm:rounded-3xl">
    </div>

    <!-- Informacion del plato -->
    <div class="mt-6 sm:mt-8">
        <h2 class="text-center text-white text-xl sm:text-2xl md:text-3xl">{{receta.nombre}}</h2>
        <p class="text-center text-white mt-3 text-sm sm:text-base px-2 sm:px-8 md:px-16">
            {{receta.descripcion}}
        </p>
    </div>
    <!--Informacion de la receta-->
    <div class="w-full max-w-sm sm:max-w-md md:max-w-lg mx-auto mt-6 sm:mt-8">
        <ul class="flex justify-between text-white">
            <li>
                <div class="border border-[#003836] rounded-full w-10 h-10 sm:w-14 sm:h-14 md:w-16 md:h-16 bg-[#003836] flex items-center justify-center">
                    <ion-icon name="" class=""></ion-icon>
                </div>
            </li>
            <li class="text-center text-white font-[Roboto]">
                <div class="border border-[#003836] rounded-full w-10 h-10 sm:w-14 sm:h-14 md:w-16 md:h-16 bg-[#003836] flex items-center justify-center">
                </div>
            </li>
            <li>
                <div class="border border-[#003836] rounded-full w-10 h-10 sm:w-14 sm:h-14 md:w-16 md:h-16 bg-[#003836] flex items-center justify-center">
                    {{receta.grasas}}
                </div>
                <p>Grasas</p>
            </li>
            <li>
                <div class="border border-[#003836] rounded-full w-10 h-10 sm:w-14 sm:h-14 md:w-16 md:h-16 bg-[#003836] flex items-center justify-center">
                    {{receta.hidratos}}
                </div>
                <p>Hidratos</p>
            </li>
            <li>
                <div class="border border-[#003836] rounded-full w-10 h-10 sm:w-14 sm:h-14 md:w-16 md:h-16 bg-[#003836] flex items-center justify-center">
                    {{receta.proteinas}}
                </div>
                <p>Proteinas</p>
            </li>
        </ul>
    </div>
</div>