<!-- perfil-usuario.component.html -->
<div class="p-6 color-verde-oscuro text-white min-h-screen mt-12">
  <!-- Perfil del usuario -->
  <div class="flex items-center gap-4 mb-12">
    <div class="relative w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 rounded-full overflow-hidden shrink-0 group">
      <!-- Imagen de perfil -->
      <img
        alt="Avatar"
        [src]="perfilBloqueado ? 'https://ionicframework.com/docs/img/demos/avatar.svg' : imagenPerfilUsuario"
        [class]="'w-full h-full object-cover' + (esPerfilPropio ? ' transition-opacity duration-300 group-hover:opacity-70' : '')"
      />

      <div
        class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 cursor-pointer"
        (click)="triggerFileInput()"
        *ngIf="esPerfilPropio"
      >
        <ion-icon name="camera" class="text-white text-xl sm:text-2xl md:text-3xl"></ion-icon>
      </div>

      <input
        type="file"
        #fileInput
        accept="image/*"
        class="hidden"
        (change)="onFileSelected($event)"
      />
    </div>

    <div class="flex-1">
      <div class="flex flex-col sm:flex-row gap-3.5">
        <div *ngIf="!editandoPerfil">
          <h2 class="font-semibold text-xl mb-1">{{ perfil.nombre }} {{ perfil.apellidos }}</h2>
        </div>
        <div *ngIf="editandoPerfil" class="flex flex-col sm:flex-row gap-3.5 mb-2 mt-8">
          <input
            type="text"
            [(ngModel)]="perfil.nombre"
            placeholder="Nombre"
            class="w-full sm:w-1/2 px-3 py-1.5 border rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:border-transparent text-black text-sm transition-all"
          />
          <input
            type="text"
            [(ngModel)]="perfil.apellidos"
            placeholder="Apellidos"
            class="w-full sm:w-1/2 px-3 py-1.5 border rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:border-transparent text-black text-sm transition-all"
          />
        </div>
        <div class="flex gap-3 mt-0 lg:mt-4 mb-4 lg:mb-0">
          <app-boton
            [color]="'var(--color-verde-boton)'"
            size="small"
            [label]="perfil.siguiendo ? 'Dejar de seguir' : 'Seguir'"
            *ngIf="!esPerfilPropio && !perfilBloqueado"
          (click)="toggleSeguirPerfil()"></app-boton>
          <app-boton
            [color]="'var(--color-verde-boton)'"
            size="small"
            [label]="'Mensaje'"
            *ngIf="!esPerfilPropio && !perfilBloqueado"
            (click)="iniciarChat()"></app-boton>
          <app-boton
            [color]="'var(--color-amarillo-boton)'"
            size="small"
            [label]="perfil.bloqueado ? 'Desbloquear' : 'Bloquear'"
            (click)="toggleBloquearPerfil()"
            *ngIf="!esPerfilPropio"></app-boton>
        </div>
      </div>
      <div class="flex gap-3.5 items-start mb-4">
        <ng-container *ngIf="!editandoPerfil">
          <p class="text-sm text-gray-300">{{ perfil.descripcion }}</p>
          <button *ngIf="esPerfilPropio" (click)="toggleEditarPerfil()">
            <ion-icon name="pencil-outline" class="text-xl"></ion-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="editandoPerfil">
        <textarea
          [(ngModel)]="perfil.descripcion"
          rows="1"
          placeholder="Descripción"
          class="w-full sm:w-2/3 px-3 py-1.5 border rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:border-transparent text-black text-sm transition-all"
        ></textarea>
          <app-boton
            [color]="'var(--color-verde-boton)'"
            size="small"
            [label]="'Guardar'"
            (click)="toggleEditarPerfil()"
          ></app-boton>
        </ng-container>
      </div>
      <div class="flex gap-4 text-sm">
        <div class="flex items-center gap-1">
          <span class="font-medium">{{ perfil.numeroRecetas }}</span>
          <span class="text-gray-400">Recetas</span>
        </div>
        <div class="flex items-center gap-1">
          <span class="font-medium">{{ perfil.seguidores }}</span>
          <span class="text-gray-400 cursor-pointer hover:underline" (click)="!perfilBloqueado && toggleSeguidores()">Seguidores</span>
        </div>
        <div class="flex items-center gap-1">
          <span class="font-medium">{{ perfil.seguidos }}</span>
          <span class="text-gray-400 cursor-pointer hover:underline" (click)="!perfilBloqueado && toggleSeguidos()">Seguidos</span>
        </div>
      </div>
    </div>
  </div>

  <div class="flex gap-4 mb-16 w-full lg:w-1/6" *ngIf="esPerfilPropio">
    <app-boton
      [color]="'var(--color-verde-boton)'"
      size="small"
      [label]="'Lista de la compra'"
      class="w-full max-w-xs"
      (click)="toggleListaCompra()">
    </app-boton>
    <app-boton
      [color]="'var(--color-amarillo-boton)'"
      size="small"
      [label]="'Cambiar Contraseña'"
      class="w-full max-w-xs"
      (click)="mostrandoCambioContrasena = !mostrandoCambioContrasena">
    </app-boton>
  </div>

  <div *ngIf="mostrandoCambioContrasena" class="max-w-screen-sm mb-10">
    <form [formGroup]="cambioContrasenaForm" (ngSubmit)="onGuardarContrasena()">
      <div>
        <label class="block text-sm font-medium mb-1">Contraseña Actual</label>
        <input type="password" formControlName="actual"
               class="w-full p-2 border rounded-lg text-black"
               [class.border-red-500]="cambioContrasenaForm.get('actual')?.invalid && cambioContrasenaForm.get('actual')?.touched">
        <div *ngIf="cambioContrasenaForm.get('actual')?.invalid && cambioContrasenaForm.get('actual')?.touched"
             class="text-red-500 text-sm mt-1">
          Este campo es requerido
        </div>
      </div>

      <div>
        <label class="block text-sm font-medium mb-1">Nueva Contraseña</label>
        <input type="password" formControlName="nueva"
               class="w-full p-2 border rounded-lg text-black"
               [class.border-red-500]="nuevaContrasena?.invalid && nuevaContrasena?.touched">
        <div *ngIf="nuevaContrasena?.invalid && nuevaContrasena?.touched" class="text-red-500 text-sm mt-1">
          <div *ngIf="nuevaContrasena?.errors?.['required']">Este campo es requerido</div>
          <div *ngIf="nuevaContrasena?.errors?.['minlength']">Mínimo 8 caracteres</div>
          <div *ngIf="nuevaContrasena?.errors?.['pattern']">
            Debe contener al menos una mayúscula, un número y un carácter especial
          </div>
        </div>
      </div>

      <div>
        <label class="block text-sm font-medium mb-1">Repetir Contraseña</label>
        <input type="password" formControlName="repetir"
               class="w-full p-2 border rounded-lg text-black"
               [class.border-red-500]="cambioContrasenaForm.hasError('noCoinciden') && cambioContrasenaForm.get('repetir')?.touched">
        <div *ngIf="cambioContrasenaForm.hasError('noCoinciden') && cambioContrasenaForm.get('repetir')?.touched"
             class="text-red-500 text-sm mt-1">
          Las contraseñas no coinciden
        </div>
      </div>


    </form>

    <div class="mt-4 flex justify-start">
      <app-boton label="Guardar" [size]="'small'" (click)="showConfirmPassword = true" [disabled]="cambioContrasenaForm.invalid"></app-boton>
    </div>
  </div>

  <div class="flex justify-between gap-10 text-2xl mb-6 pb-4 w-3/4 sm:w-1/2 justify-self-center" *ngIf="!perfilBloqueado">
    <ion-icon [name]="activeTab === 'recetas' ? 'grid' : 'grid-outline'"
              class="cursor-pointer color-hover transition-colors" (click)="activeTab = 'recetas'"></ion-icon>
    <ion-icon [name]="activeTab === 'colecciones' ? 'albums' : 'albums-outline'"
              class="cursor-pointer color-hover transition-colors" (click)="activeTab = 'colecciones'"></ion-icon>
    <ion-icon [name]="activeTab === 'guardadas' ? 'bookmarks' : 'bookmarks-outline'"
              class="cursor-pointer color-hover transition-colors" (click)="activeTab = 'guardadas'"
              *ngIf="esPerfilPropio"></ion-icon>
  </div>



  <!-- Panel de seguidos -->
  <div *ngIf="mostrarSeguidos"
       class="fixed inset-0 bg-black bg-opacity-40 z-50 flex items-center justify-center p-4">

    <div class="bg-green-100 w-full sm:w-3/4 lg:w-1/2 max-h-[80vh] rounded-lg p-4 shadow-xl overflow-y-auto relative">

      <div class="flex justify-between items-center mb-4">
        <h3 class="text-lg font-semibold color-texto">Seguidos</h3>
        <ion-icon name="close-circle-outline" class="text-2xl text-green-900 cursor-pointer"
                  (click)="toggleSeguidos()"></ion-icon>
      </div>

      <div class="grid grid-cols-1 gap-4">
        <div *ngFor="let seguido of seguidos"
             class="flex items-start p-3 gap-3 border border-gray-300 shadow transition hover:shadow-lg cursor-pointer"
        (click)="redireccionarPerfil(seguido.idUsuario)">
          <img [src]="seguido.fotoPerfil || 'https://ionicframework.com/docs/img/demos/avatar.svg'"
               alt="avatar"
               class="w-14 h-14 rounded-full object-cover "/>
          <div class="flex flex-col justify-center mr-auto text-left sm:mt-2 mt-0">
            <span class="text-xs font-semibold text-black">{{ seguido.username }}</span>
            <span class="text-sm font-medium text-gray-800">{{ seguido.nombre }} {{ seguido.apellidos }}</span>
          </div>
        </div>

      </div>

    </div>
  </div>

  <!-- Panel de seguidores -->
  <div *ngIf="mostrarSeguidores"
       class="fixed inset-0 bg-black bg-opacity-40 z-50 flex items-center justify-center p-4">

    <div class="bg-green-100 w-full sm:w-3/4 lg:w-1/2 max-h-[80vh] rounded-lg p-4 shadow-xl overflow-y-auto relative">

      <div class="flex justify-between items-center mb-4">
        <h3 class="text-lg font-semibold color-texto">Seguidores</h3>
        <ion-icon name="close-circle-outline" class="text-2xl text-green-900 cursor-pointer"
                  (click)="toggleSeguidores()"></ion-icon>
      </div>

      <div class="grid grid-cols-1 gap-4">
        <div *ngFor="let seguidor of seguidores"
             class="flex items-start p-3 gap-3 border border-gray-300 shadow transition hover:shadow-lg cursor-pointer"
             (click)="redireccionarPerfil(seguidor.idUsuario)">
          <img [src]="seguidor.fotoPerfil || 'https://ionicframework.com/docs/img/demos/avatar.svg'"
               alt="avatar"
               class="w-14 h-14 rounded-full object-cover "/>
          <div class="flex flex-col justify-center mr-auto text-left sm:mt-2 mt-0">
            <span class="text-xs font-semibold text-black">{{ seguidor.username }}</span>
            <span class="text-sm font-medium text-gray-800">{{ seguidor.nombre }} {{ seguidor.apellidos }}</span>
          </div>
        </div>

      </div>

    </div>
  </div>

  <!-- Panel de edición de perfil -->
  <div *ngIf="editarPerfil"
       class="fixed inset-0 bg-black bg-opacity-40 z-50 flex items-center justify-center p-4">
    <div class="bg-green-100 w-full sm:w-3/4 lg:w-1/2 max-h-[80vh] rounded-lg p-6 shadow-xl overflow-y-auto relative">
      <div class="flex justify-between items-center mb-4">
        <h3 class="text-lg font-semibold color-texto">Editar Perfil</h3>
        <ion-icon name="close-circle-outline" class="text-2xl text-green-900 cursor-pointer"
                  (click)="toggleEditarPerfil()"></ion-icon>
      </div>

      <!-- Nombre y Apellidos -->
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-4">
        <div>
          <label class="block text-sm font-medium mb-1 text-black">Nombre</label>
          <input
            type="text"
            [(ngModel)]="perfil.nombre"
            placeholder="Nombre"
            class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:border-transparent text-black"
          />
        </div>
        <div>
          <label class="block text-sm font-medium mb-1 text-black">Apellidos</label>
          <input
            type="text"
            [(ngModel)]="perfil.apellidos"
            placeholder="Apellidos"
            class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:border-transparent text-black"
          />
        </div>
      </div>

      <!-- Descripción -->
      <div class="mb-4">
        <label class="block text-sm font-medium mb-1 text-black">Descripción</label>
        <textarea
          [(ngModel)]="perfil.descripcion"
          rows="3"
          placeholder="Escribe aquí tu descripción..."
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:border-transparent text-black"
        ></textarea>
      </div>

      <!-- Alergenos -->
      <div class="mb-4 text-black">
        <label class="block text-sm font-medium mb-1 text-black">Alergenos</label>
        <div class="grid grid-cols-7 gap-2">
          <div *ngFor="let alergeno of alergenos" class="cursor-pointer">
            <img
              [src]="alergeno.imagen"
              alt="{{ alergeno.nombre }}"
              class="w-full h-auto border rounded shadow"
              [class.border-yellow-400]="esAlergenoSeleccionado(alergeno)"
              (click)="toggleAlergeno(alergeno)"
            />
          </div>
        </div>
      </div>

      <div class="mb-4 text-black">
        <div class="flex flex-wrap">
          <label class="block text-sm font-medium mb-1 text-black">Ingredientes favoritos</label>
          <label class="block text-sm font-medium mb-1 text-black pl-2">(Selecciona un máximo de 3)</label>
        </div>

        <!-- Buscador y chips -->
        <div class="flex bg-white items-center border rounded-lg p-2 flex-grow">
        <span class="text-gray-500 mr-2 flex">
          <ion-icon name="search"></ion-icon>
        </span>
          <input
            type="text"
            placeholder="Buscar"
            class="w-full outline-none bg-transparent text-black"
            (input)="filtrarIngredientes($event)"
          />
        </div>

        <!-- Resultados de búsqueda -->
        <div *ngIf="ingredientesFiltrados.length > 0"
             class="bg-white border rounded-lg shadow-md max-h-40 overflow-y-auto mt-2 p-2">
          <div *ngFor="let ingrediente of ingredientesFiltrados"
               class="cursor-pointer hover:bg-gray-100 p-2 rounded"
               (click)="seleccionarIngrediente(ingrediente)">
            {{ ingrediente.nombre }}
          </div>
        </div>

        <!-- Chips seleccionados -->
        <div class="flex gap-2 flex-wrap mt-3">
          <ion-chip *ngFor="let ingrediente of ingredientesSeleccionados; let i = index">
            <ion-label>{{ ingrediente.nombre }}</ion-label>
            <ion-icon name="close-circle" (click)="eliminarIngrediente(i)"></ion-icon>
          </ion-chip>
        </div>
      </div>

      <!-- Mensaje de error -->
      <div *ngIf="validadorConflictoAlergenos()" class="text-red-500 text-sm p-2 mt-2 border border-red-300 rounded bg-red-50">
        Existe un conflicto entre tus ingredientes seleccionados y alérgenos. Por favor, revisa que ningún ingrediente contenga un alérgeno que hayas seleccionado.
      </div>

      <!-- Botón Guardar -->
      <div class="flex justify-end">
        <app-boton
          [color]="'var(--color-verde-boton)'"
          size="small"
          [label]="'Guardar Cambios'"
          (click)="guardarCambios()"
        ></app-boton>
      </div>
    </div>
  </div>


  <div *ngIf="activeTab === 'recetas' && !perfilBloqueado" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    <ng-container *ngFor="let receta of recetasMostradas">
      <div *ngIf="receta.esVisible || esPerfilPropio">
        <app-cuadro-receta [receta]="receta" [esPerfilPropio]="esPerfilPropio" (editaGuardar)="actualizaGuardados($event)"></app-cuadro-receta>
      </div>
    </ng-container>

    <div *ngIf="recetasMostradas.length === 0" class="col-span-full flex flex-col items-center justify-center gap-4 py-12">
      <img src="assets/frutero.png" alt="Sin recetas"
           class="w-1/2 md:w-1/4 opacity-75">
      <p class="text-gray-300 text-center text-lg">No hay recetas para mostrar aún</p>
    </div>
  </div>

  <ion-infinite-scroll
    (ionInfinite)="loadMoreRecetas($event)"
    threshold="100px"
    *ngIf="recetasMostradas.length < recetas.length"
  >
    <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <!-- Colecciones -->
  <div *ngIf="activeTab === 'colecciones' && !perfilBloqueado" class="space-y-4">
    <div class="flex gap-3.5 mb-4 justify-start ion-align-items-center" *ngIf="esPerfilPropio">
      <p class="color-texto-blanco text-lg font-semibold ">Crear Colección</p>
      <ion-icon
        name="add-circle-outline"
        class="text-2xl color-texto-blanco cursor-pointer"
        (click)="toggleCrearColeccion()"
       ></ion-icon>
    </div>

    <app-coleccion-recetas
      [colecciones]="coleccionesMostradas"
      [esPerfilPropio]="esPerfilPropio"
      (coleccionEliminada)="onEliminarColeccion($event)"
      (coleccionEditada)="iniciarEdicionColeccion($event)">
    </app-coleccion-recetas>

    <div *ngIf="coleccionesMostradas.length === 0" class="flex flex-col items-center justify-center gap-4 py-12">
      <img src="assets/frutero.png" alt="Sin colecciones"
           class="w-1/2 md:w-1/4 opacity-75">
      <p class="text-gray-300 text-center text-lg">No hay colecciones para mostrar aún</p>
    </div>

    <ion-infinite-scroll
      (ionInfinite)="loadMoreColecciones($event)"
      threshold="100px"
      *ngIf="coleccionesMostradas.length < colecciones.length">
      <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>


  </div>

  <!-- Crear colección -->

  <div *ngIf="mostrarCrearColeccion || mostrarEditarColeccion" class="fixed inset-0 bg-black bg-opacity-40 z-50 flex items-center justify-center p-4">
    <div class="bg-green-100 w-full sm:w-3/4 lg:w-1/2 max-h-[80vh] rounded-lg p-4 shadow-xl overflow-y-auto relative">
      <div class="flex justify-between items-center mb-4">
        <h3 class="text-lg font-semibold color-texto">
          {{ modoEdicionColeccion ? 'Editar' : 'Crear' }} Colección
        </h3>
        <ion-icon
          name="close-circle-outline"
          class="text-2xl text-green-900 cursor-pointer"
          (click)="modoEdicionColeccion ? toggleEditarColeccion() : toggleCrearColeccion()"
        ></ion-icon>
      </div>

      <div class="mb-4">
        <input
          type="text"
          [(ngModel)]="coleccionEditando.titulo"
          class="w-full p-2 border rounded-lg text-black"
          placeholder="Ej: Mis postres favoritos"
        >
      </div>

      <div class="grid grid-cols-1 gap-2 mb-4">
        <div
          *ngFor="let receta of perfil.recetas"
          class="flex items-center p-2 border rounded bg-white"
        >
          <input
            type="checkbox"
            [checked]="recetasSeleccionadas.has(receta.idReceta)"
            (change)="toggleReceta(receta.idReceta)"
            class="mr-2"
          >
          <span class="text-sm text-gray-800">{{ receta.nombre }}</span>
        </div>
      </div>

      <div class="flex justify-center">
        <app-boton
          [label]="modoEdicionColeccion ? 'Guardar cambios' : 'Guardar'"
          [color]="'var(--color-verde-boton)'"
          size="small"
          (click)="modoEdicionColeccion ? onEditarColeccion() : onGuardarColeccion()"
        ></app-boton>
      </div>
    </div>
  </div>


  <!-- Recetas Guardadas -->
  <div *ngIf="activeTab === 'guardadas' && esPerfilPropio && !perfilBloqueado" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    <div *ngFor="let receta of recetasGuardadasMostradas">
      <app-cuadro-receta-guardada [receta]="receta"></app-cuadro-receta-guardada>
    </div>

    <div *ngIf="recetasGuardadasMostradas.length === 0" class="col-span-full flex flex-col items-center justify-center gap-4 py-12">
      <img src="assets/frutero.png" alt="Sin guardados"
           class="w-1/2 md:w-1/4 opacity-75">
      <p class="text-gray-300 text-center text-lg">No hay recetas guardadas para mostrar aún</p>
    </div>

    <ion-infinite-scroll
      (ionInfinite)="loadMoreGuardadas($event)"
      threshold="100px"
      *ngIf="recetasGuardadasMostradas.length < recetasGuardadas.length">
      <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>


</div>

<app-alert-info
  [message]="alertMessage"
  [isVisible]="isAlertVisible"
  [type]="alertType">
</app-alert-info>

<app-lista-compra
  *ngIf="mostrarListaCompra"
  [isOpen]="mostrarListaCompra"
  [cookerId]="idPropietario"
  (close)="toggleListaCompra()"> <!-- Asegurar que tenemos este output -->
</app-lista-compra>

<app-alert-confirmar
  *ngIf="showConfirmPassword" [message]="'¿Estás seguro de que quieres cambiar tu contraseña?'"
  (confirm)="onGuardarContrasena()" (cancel)="showConfirmPassword = false">
</app-alert-confirmar>


<app-boton-add-receta></app-boton-add-receta>
