<!--main--> 
<div class="bg-[#004643] w-3/4 m-auto p-4 max-h-screen">
    <!-- Info plato -->
    <app-info-plato></app-info-plato>
    <!--Alergenos -->
    <div>
        <h2 class="text-white">Alérgenos</h2>
        <div>
            <app-alergeno></app-alergeno>
        </div>
    </div>
    <!-- Ingredientes -->
    <div>
        <!-- Contenido de ingredientes -->
    </div>
    <!-- Pasos -->
    <div>
        <!-- Contenido de pasos -->
    </div>
    <!-- Caja de comentarios -->
    <div>
        <!-- Contenido de comentarios -->
    </div>
</div>