<div class="flex items-center justify-center min-h-screen">
  <div class="color-verde-claro sm:p-8 p-4 rounded-lg shadow-lg w-96 mx-4 border border-gray-600">
    <h2 class="text-2xl font-bold mb-6 text-center">Cambio de Contraseña</h2>
    <div *ngIf="tokenValid; else invalidToken">
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <!-- Campo de Nueva Contraseña -->
        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-700">Nueva Contraseña</label>
          <div class="relative">
            <input
              [type]="showPassword ? 'text' : 'password'"
              formControlName="password"
              placeholder="Nueva contraseña"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-amber-500 focus:border-amber-500"
            />
            <button
              type="button"
              (mousedown)="showPassword = true"
              (mouseup)="showPassword = false"
              (mouseleave)="showPassword = false"
              class="absolute inset-y-0 right-0 flex items-center px-3 text-gray-600 hover:text-gray-800 focus:outline-none"
            >
              <ion-icon name="eye" class="h-5 w-5"></ion-icon>
            </button>
          </div>
          <div *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched" class="text-red-500 text-sm mt-1">
            La nueva contraseña es obligatoria.
          </div>
        </div>

        <!-- Campo de Confirmar Contraseña -->
        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-700">Confirmar Contraseña</label>

          <div class="relative">
            <input
              [type]="showPassword2 ? 'text' : 'password'"
              formControlName="confirmPassword"
              placeholder="Confirmar contraseña"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-amber-500 focus:border-amber-500"
            />
            <button
              type="button"
              (mousedown)="showPassword2 = true"
              (mouseup)="showPassword2 = false"
              (mouseleave)="showPassword2 = false"
              class="absolute inset-y-0 right-0 flex items-center px-3 text-gray-600 hover:text-gray-800 focus:outline-none"
            >
              <ion-icon name="eye" class="h-5 w-5"></ion-icon>
            </button>
          </div>

          <div *ngIf="form.get('confirmPassword')?.hasError('required') && form.get('confirmPassword')?.touched" class="text-red-500 text-sm mt-1">
            La confirmación de la contraseña es obligatoria.
          </div>
          <div *ngIf="form.get('confirmPassword')?.hasError('mismatch') && form.get('confirmPassword')?.touched" class="text-red-500 text-sm mt-1">
            Las contraseñas no coinciden.
          </div>
          <div *ngIf="form.get('password')?.hasError('pattern') && form.get('password')?.touched" class="text-red-500 text-sm mt-1">
            La contraseña debe tener al menos 8 caracteres, una letra mayúscula, una letra minúscula, un número y un carácter especial.
          </div>
        </div>

        <!-- Botón de Cambiar Contraseña -->
        <app-boton
          [label]="isLoading ? 'Cargando...' : 'Cambiar contraseña'"
          [color]="'var(--color-amarillo-boton)'"
          [disabled]="form.invalid || isLoading"
          size="medium"
        ></app-boton>

        <!-- Mensaje de Error -->
        <p *ngIf="errorMessage" class="text-red-500 text-center mt-4">{{ errorMessage }}</p>
      </form>
    </div>
    <ng-template #invalidToken>
      <p class="text-red-500 text-center">El enlace es inválido o ha expirado.</p>
    </ng-template>
  </div>
  <app-alert-confirmar
    *ngIf="showAlertConfirmar"
    [message]="alertMessage"
    (confirm)="onConfirm()"
    [confirmLabel]="'Aceptar'"
    [showCancelButton]="false"
    [showIcon]="false">
  </app-alert-confirmar>

  <app-alert-info
    [message]="alertMessage"
    [isVisible]="isAlertVisible"
    [type]="alertType">
  </app-alert-info>

</div>
