<div class="space-y-4">
  <div *ngFor="let coleccion of colecciones">
    <div
      class="color-verde-claro text-black p-3 rounded-lg cursor-pointer flex justify-between"
      (click)="toggleExpandida(coleccion)"
      *ngIf="coleccion.esVisible || esPerfilPropio">

      <p class="font-semibold">{{ coleccion.titulo }}</p>

      <div class="flex gap-3 items-center">
        <span class="text-sm">{{ coleccion.recetas.length }} recetas</span>

        <ion-icon
          [name]="coleccion.esVisible ? 'eye-outline' : 'eye-off-outline'"
          class="text-xl cursor-pointer"
          (click)="toggleVisibilidad(coleccion); $event.stopPropagation()"
          *ngIf="esPerfilPropio">
        </ion-icon>

        <ion-icon
          name="pencil-outline"
          class="text-xl cursor-pointer"
          (click)="editarColeccion(coleccion); $event.stopPropagation()"
          *ngIf="esPerfilPropio">
        </ion-icon>

        <ion-icon
          name="trash-outline"
          class="text-xl cursor-pointer"
          (click)="eliminarColeccion(coleccion); $event.stopPropagation()">
        </ion-icon>

        <ion-icon
          name="chevron-down-outline"
          class="text-xl"
          [ngClass]="{ 'rotate-180': coleccion.expandida }">
        </ion-icon>
      </div>
    </div>

    <div *ngIf="coleccion.expandida" class="color-verde-claro text-black p-3 rounded-lg mt-1">

      <div class="flex overflow-x-auto pb-4 scrollbar-hide">
        <div class="flex gap-4 flex-nowrap">
          <div *ngFor="let receta of coleccion.recetas"
               class="relative flex-shrink-0 w-48 h-64 rounded-lg overflow-hidden cursor-pointer">

            <img [src]="receta.fotoReceta" alt="Imagen receta" class="w-full h-full object-cover transition-transform duration-300 hover:scale-105">

            <div class="absolute bottom-0 left-0 right-0 p-2 color-texto color-verde-claro-tranlucido backdrop-blur-sm">
              <div class="flex justify-between items-center">
                <div class="truncate">
                  <p class="font-medium truncate">{{ receta.nombre }}</p>
                  <div class="flex items-center gap-1 text-sm">
                    <span>{{ receta.duracion }}</span>
                    <ion-icon name="time-outline" class="text-sm"></ion-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
