<div class="flex items-center justify-center mt-20 mx-2">
  <div class="color-verde-claro p-8 rounded-lg shadow-lg w-96">
    <h2 class="text-2xl font-bold mb-6 text-center">Inicio de sesión</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Campo de Usuario -->
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Usuario</label>
        <input
          type="text"
          formControlName="usuario"
          placeholder="Introduzca su nombre"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-yellow-400"
        />
        <div *ngIf="loginForm.get('usuario')?.hasError('required') && loginForm.get('usuario')?.touched" class="text-red-500 text-sm mt-1">
          El nombre de usuario es obligatorio.
        </div>
      </div>

      <!-- Campo de Contraseña -->
      <div class="mb-6">
        <label class="block text-sm font-medium text-gray-700">Contraseña</label>
        <input
          type="password"
          formControlName="contrasenya"
          placeholder="Introduzca su contraseña"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-yellow-400"
        />
        <div *ngIf="loginForm.get('contrasenya')?.hasError('required') && loginForm.get('contrasenya')?.touched" class="text-red-500 text-sm mt-1">
          La contraseña es obligatoria.
        </div>
        <div *ngIf="loginForm.get('contrasenya')?.hasError('minlength') && loginForm.get('contrasenya')?.touched" class="text-red-500 text-sm mt-1">
          La contraseña debe tener al menos 8 caracteres.
        </div>
      </div>

      <!-- Botón de Inicio de Sesión -->
      <app-boton
        [label]="'Entrar'"
        [color]="'var(--color-amarillo-boton)'"
        [disabled]="loginForm.invalid || isLoading"
        size="medium"
      ></app-boton>

      <!-- Enlaces de Recuperación y Registro -->
      <div class="flex justify-between text-sm mt-4">
        <a href="/registro" class="text-indigo-600 hover:underline">¿No tienes cuenta?</a>
        <a [routerLink]="['/cambioPassword']" class="text-indigo-600 hover:underline">¿Has olvidado tu contraseña?</a>
      </div>

    </form>
  </div>
</div>

<app-alert-info
  [message]="errorMessage"
  [isVisible]="isAlertVisible"
  [type]="alertType">
</app-alert-info>


<app-pantalla-carga *ngIf="isLoading"></app-pantalla-carga>


