<ion-footer *ngIf="isMobile" class="fixed bottom-0 z-30">
  <ion-toolbar class="footer-toolbar color-verde-claro">
    <ion-tab-bar class="tab-bar">
      <ion-tab-button tab="main" [routerLink]="['/main']" class="color-verde-claro">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="recetas" class="color-verde-claro" [routerLink]="['/explorador']">
        <ion-icon name="search"></ion-icon>
      </ion-tab-button>
      <ion-tab-button  class="color-verde-claro" [routerLink]="['/nutriscore']">
        <ion-icon name="nutrition"></ion-icon>
      </ion-tab-button>
      <ion-tab-button class="color-verde-claro" *ngIf="authService.isLogged()" [routerLink]="['/perfil']">
        <ion-icon name="person" ></ion-icon>
      </ion-tab-button>
      <ion-tab-button class="color-verde-claro" (click)="logout()" *ngIf="authService.isLogged()">
        <ion-icon name="log-out" ></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-toolbar>
</ion-footer>
