<div class="rounded-lg overflow-hidden relative aspect-square cursor-pointer"
     (click)="redireccionarReceta(receta.idReceta.toString())">
  <!-- Imagen de receta -->
  <img [src]="receta.fotoReceta" alt="fotoReceta" class="w-full h-full object-cover transition-transform duration-300 hover:scale-105" />

  <!-- Pie de receta -->
  <div class="absolute bottom-0 left-0 right-0 p-2 color-texto color-verde-claro-tranlucido backdrop-blur-sm">
    <div class="flex justify-between">
      <p class="font-semibold text-lg text-black">{{ receta.nombre }}</p>
      <div class="flex gap-3 items-center">
        <span class="text-md">{{ receta.tiempo }}</span>
        <ion-icon name="time-outline" class="text-lg"></ion-icon>
      </div>
    </div>
  </div>
</div>
