<div class="rounded-lg overflow-hidden relative aspect-square">
  <!-- Imagen de receta -->
  <img [src]="receta.fotoReceta" alt="fotoReceta" class="w-full h-full object-cover" />

  <!-- Pie de receta -->
  <div class="color-verde-claro p-6 absolute bottom-0 w-full">
    <div class="flex justify-between">
      <p class="font-semibold text-md text-black">{{ receta.nombre }}</p>
      <div class="flex gap-3 items-center">
        <ion-icon name="time-outline" class="text-lg"></ion-icon>
        <span class="text-md">{{ receta.tiempo }}</span>
      </div>
    </div>
  </div>
</div>
