<div class="p-4 color-verde-claro rounded-3xl shadow flex items-center justify-between space-x-4 cursor-pointer group
            transition-transform duration-200 ease-in-out hover:scale-105">

  <a (click)="$event.stopPropagation();redireccionarPerfil(userData.id.toString())"
     class="flex items-center flex-grow min-w-0 space-x-4">
    <img
      class="w-12 h-12 rounded-full object-cover flex-shrink-0" [src]="userData.imagenUsuario || 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png'"
      alt="Foto de perfil de Usuario"
    />
    <div class="min-w-0 flex-grow"> <p class="text-gray-900 font-semibold text-sm truncate">&#64;{{ userData.usuario }}</p>
      <p class="text-gray-700 truncate">{{ userData.nombreCompleto }}</p>
    </div>
  </a>

  <button class="flex-shrink-0 px-4 py-1 color-verde-oscuro text-white rounded-full text-xs font-semibold hover:bg-opacity-80 transition duration-150 ease-in-out color-texto-blanco"
          (click)="toggleFollow($event)">
    {{ seguido ? '✔' : 'Seguir' }}
  </button>
</div>
