<div class="bg-[#abd1c6] rounded-md shadow-md pt-3 pb-3">
  <div class="flex items-center justify-between pl-3 pr-3">
    <div class="flex items-center space-x-4">
      <img [src]="receta.fotoPerfilCooker" alt="Perfil Cooker" class="w-12 h-12 rounded-full object-cover">
      <p class="font-bold">{{ receta.nombreCooker }}</p>
    </div>
    <button class="text-white hover:text-gray-300">
      <ion-icon name="ellipsis-horizontal-outline" class="h-5 w-5 text-black"></ion-icon>
    </button>
  </div>

  <img [src]="receta.imagen" alt="Receta" class="w-full h-64 object-cover mt-4">

  <div class="mt-2 pr-3 pl-3">
    <p class="font-bold">{{ receta.titulo }}</p>
  </div>

  <div class="flex flex-wrap mt-1 pr-3 pl-3">
    <img *ngFor="let alergeno of receta.alergenos" [src]="alergeno" [alt]="alergeno"
         class="w-12 h-12 object-contain rounded-lg p-1">
  </div>

  <div class="flex justify-between mt-2 pl-3 pr-3">
    <div class="flex items-center space-x-2">
      <button (click)="toggleLike()" class="text-white hover:text-gray-300">
        <ion-icon [name]="recetaLeGusta ? 'heart' : 'heart-outline'" class="h-6 w-6"
                  [class.text-red-500]="recetaLeGusta"
                  [class.text-black]="!recetaLeGusta"></ion-icon>
      </button>
      <button class="text-white hover:text-gray-300">
        <ion-icon name="chatbubble-outline" class="h-5 w-5 text-black"></ion-icon>
      </button>
      <button class="text-white hover:text-gray-300">
        <ion-icon name="bookmark-outline" class="h-5 w-5 text-black"></ion-icon>
      </button>
    </div>
  </div>
</div>
