/* You can add global styles to this file, and also import other style files */
@import url(colors.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body { height: 100%;
  background-color: var(--color-verde-fondo);
}
body {
  margin: 0;
  height: auto;
  background-color: var(--color-verde-fondo);
}

.color-texto{
  color: var(--color-texto);
}

.color-boton-verde{
  background-color: var(--color-verde-boton);
}

.color-boton-amarillo{
  background-color: var(--color-amarillo-boton);
}

.color-texto-blanco{
  color: var(--color-texto-blanco);
}

.color-verde-claro{
  background-color: var(--color-verde-cuadros);
}

.color-verde-oscuro{
  background-color: var(--color-verde-fondo);
}

.color-rojo-resalto{
  background-color: var(--color-rojo-resaltar);
}

ion-content{
  --background: var(--color-verde-fondo);
  font-family: "Cambria, Georgia, serif", sans-serif;
}

.texto-logo{
  font-family: 'Poppins', sans-serif;
}
