<div class="flex items-center justify-center min-h-screen mt-10 px-4 md:px-10">
  <div class="color-verde-claro p-8 rounded-lg shadow-lg w-full max-w-3xl">

    <h2 class="text-2xl font-bold mb-6 mt-0 text-center">Crea tu cuenta</h2>
    <!-- Barra de progreso -->

    <h3 class="text-lg font-semibold mb-3 text-center">
      {{ currentStep === 1 ? 'Datos del usuario' : currentStep === 2 ? 'Datos personales' : currentStep === 3 ? 'Información adicional' : 'Resumen' }}
    </h3>

    <div class="flex items-center justify-between mb-8">
      <div *ngFor="let step of [1, 2, 3, 4]; let i = index" class="flex items-center" [ngClass]="{'flex-1': i < 3}">
        <div
          class="w-6 h-6 rounded-full flex items-center justify-center text-sm transition-colors"
          [ngClass]="{
        'bg-yellow-400': currentStep > i + 1,
        'bg-gray-300': currentStep <= i + 1
      }"
        >
          <span *ngIf="currentStep > i + 1">{{ i +1}}</span>
          <span *ngIf="currentStep <= i + 1">{{ i + 1 }}</span>
        </div>
        <div
          *ngIf="i < 3"
          class="flex-1 h-1"
          [ngClass]="currentStep > i + 1 ? 'bg-yellow-400' : 'bg-gray-300'"
        ></div>
      </div>
    </div>



    <form *ngIf="currentStep === 1" [formGroup]="formStep1">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="flex flex-col gap-1">
          <label class="text-sm font-semibold text-gray-700">Nombre de usuario</label>
          <input
            type="text"
            formControlName="username"
            placeholder="Ingrese su nombre de usuario"
            class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:border-transparent transition-all"
          >
          <div *ngIf="formStep1.get('username')?.invalid && (formStep1.get('username')?.dirty || formStep1.get('username')?.touched)"
               class="text-red-500 text-xs mt-1">
            <span *ngIf="formStep1.get('username')?.errors?.['required']">El nombre de usuario es obligatorio</span>
          </div>
        </div>

        <div class="flex flex-col gap-1">
          <label class="text-sm font-semibold text-gray-700">Email</label>
          <input
            type="email"
            formControlName="email"
            placeholder="Ingrese su correo electrónico"
            class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:border-transparent transition-all"
          >
          <div *ngIf="formStep1.get('email')?.invalid && (formStep1.get('email')?.dirty || formStep1.get('email')?.touched)"
               class="text-red-500 text-xs mt-1">
            <span *ngIf="formStep1.get('email')?.errors?.['required']">El email es obligatorio</span>
            <span *ngIf="formStep1.get('email')?.errors?.['email']">Formato de email inválido</span>
          </div>
        </div>
        <div class="flex flex-col gap-1">
          <label class="text-sm font-semibold text-gray-700">Contraseña</label>
          <div class="relative">
            <input
              [type]="showPassword ? 'text' : 'password'"
              formControlName="password"
              placeholder="Ingrese su contraseña"
              class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:border-transparent transition-all"
            />
            <button
              (mousedown)="showPassword = true"
              (mouseup)="showPassword = false"
              (mouseleave)="showPassword = false"
              class="absolute inset-y-0 right-0 flex items-center px-3 text-gray-600 hover:text-gray-800 focus:outline-none"
            >
              <ion-icon name="eye" class="h-5 w-5"></ion-icon>
            </button>
          </div>
          <div *ngIf="formStep1.get('password')?.invalid && (formStep1.get('password')?.dirty || formStep1.get('password')?.touched)"
               class="text-red-500 text-xs mt-1">
            <span *ngIf="formStep1.get('password')?.errors?.['required']">La contraseña es obligatoria</span>
            <span *ngIf="formStep1.get('password')?.errors?.['minlength']">Mínimo 8 caracteres</span>
            <span *ngIf="formStep1.get('password')?.errors?.['pattern']">Debe contener mayúscula, número y carácter especial</span>
          </div>
        </div>

        <div class="flex flex-col gap-1">
          <label class="text-sm font-semibold text-gray-700">Confirmar contraseña</label>
          <div class="relative">
            <input
              [type]="showConfirmPassword ? 'text' : 'password'"
              formControlName="confirmPassword"
              placeholder="Confirme su contraseña"
              class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:border-transparent transition-all"
            />
            <button
              (mousedown)="showConfirmPassword = true"
              (mouseup)="showConfirmPassword = false"
              (mouseleave)="showConfirmPassword = false"
              class="absolute inset-y-0 right-0 flex items-center px-3 text-gray-600 hover:text-gray-800 focus:outline-none"
            >
              <ion-icon name="eye" class="h-5 w-5"></ion-icon>
            </button>
          </div>
          <div *ngIf="formStep1.get('confirmPassword')?.invalid && (formStep1.get('confirmPassword')?.dirty || formStep1.get('confirmPassword')?.touched)"
               class="text-red-500 text-xs mt-1">
            <span *ngIf="formStep1.get('confirmPassword')?.errors?.['required']">La confirmación de contraseña es obligatoria</span>
            <span *ngIf="formStep1.errors?.['mismatch'] && formStep1.get('confirmPassword')?.touched"
                  class="text-red-500 text-xs mt-1">
                  Las contraseñas no coinciden
            </span>
          </div>

        </div>
        <!-- Input para subir imagen -->
        <div class="flex flex-col gap-1 mt-4">
          <label class="text-sm font-semibold text-gray-700">Foto de perfil: (Opcional)</label>
          <input
            type="file"
            accept="image/*"
            (change)="onFileSelect($event)"
            class="w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:border-transparent transition-all"
          />
          <!-- Vista previa de la imagen -->
          <div *ngIf="imagenPreview" class="mt-2 relative">
            <img
              [src]="imagenPreview"
              alt="Vista previa de la foto de perfil"
              class="w-32 h-auto border rounded shadow cursor-pointer"
              (click)="limpiarVistaPrevia()"
            />
          </div>
        </div>



      </div>
    </form>

    <!-- Paso 2 - Datos Personales -->
    <form *ngIf="currentStep === 2" [formGroup]="formStep2">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="flex flex-col gap-1">
          <label class="text-sm font-semibold text-gray-700">Nombre</label>
          <input
            type="text"
            formControlName="nombre"
            placeholder="Ingrese su nombre"
            class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:border-transparent transition-all"
          >
          <div *ngIf="formStep2.get('nombre')?.invalid && (formStep2.get('nombre')?.dirty || formStep2.get('nombre')?.touched)"
               class="text-red-500 text-xs mt-1">
            <span *ngIf="formStep2.get('nombre')?.errors?.['required']">El nombre es obligatorio</span>
          </div>
        </div>

        <div class="flex flex-col gap-1">
          <label class="text-sm font-semibold text-gray-700">Apellidos</label>
          <input
            type="text"
            formControlName="apellidos"
            placeholder="Ingrese sus apellidos"
            class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:border-transparent transition-all"
          >
          <div *ngIf="formStep2.get('apellidos')?.invalid && (formStep2.get('apellidos')?.dirty || formStep2.get('apellidos')?.touched)"
               class="text-red-500 text-xs mt-1">
            <span *ngIf="formStep2.get('apellidos')?.errors?.['required']">Los apellidos son obligatorios</span>
          </div>
        </div>

        <div class="flex flex-col gap-1">
          <label class="text-sm font-semibold text-gray-700">Fecha nacimiento</label>
          <input
            type="date"
            formControlName="fecha"
            class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:border-transparent transition-all"
          >
          <div *ngIf="formStep2.get('fecha')?.invalid && (formStep2.get('fecha')?.dirty || formStep2.get('fecha')?.touched)"
               class="text-red-500 text-xs mt-1">
            <span *ngIf="formStep2.get('fecha')?.errors?.['fechaInvalida']">{{ formStep2.get('fecha')?.errors?.['fechaInvalida'] }}</span>
            <span *ngIf="formStep2.get('fecha')?.errors?.['edadInvalida']">{{ formStep2.get('fecha')?.errors?.['edadInvalida'] }}</span>
          </div>
        </div>

        <div class="flex flex-col gap-1">
          <label class="text-sm font-semibold text-gray-700">Número de teléfono</label>
          <input
            type="text"
            formControlName="telefono"
            placeholder="Ingrese su número de teléfono"
            class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:border-transparent transition-all"
          >
          <div *ngIf="formStep2.get('telefono')?.invalid && (formStep2.get('telefono')?.dirty || formStep2.get('telefono')?.touched)"
               class="text-red-500 text-xs mt-1">
            <span *ngIf="formStep2.get('telefono')?.errors?.['required']">El teléfono es obligatorio</span>
            <span *ngIf="formStep2.get('telefono')?.errors?.['pattern']">Debe tener 9 dígitos</span>
          </div>
        </div>


      </div>
      <div class="flex flex-col gap-1 mt-4">
        <label class="text-sm font-semibold text-gray-700">Descripción breve (Opcional)</label>
        <textarea
          formControlName="descripcionBreve"
          placeholder="Ingrese una descripción breve"
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:border-transparent transition-all max-h-20"
          rows="4"
        ></textarea>
      </div>
    </form>

    <!-- Paso 3 - Información adicional -->
    <form *ngIf="currentStep === 3" [formGroup]="formStep3">
      <div class="space-y-4">
        <div class="flex flex-wrap">
        <h4 class="text-xl font-semibold mb-2">Ingredientes favoritos:</h4> <h4 class="text-sm md:text-lg font-light mb-2 mx-1 ">(Selecciona un maximo de 3)</h4>
        </div>
        <!-- Buscador de ingredientes -->
        <div class="flex bg-white items-center border rounded-lg p-2 flex-grow">
  <span class="text-gray-500 mr-2 flex">
    <ion-icon name="search"></ion-icon>
  </span>
          <input
            type="text"
            placeholder="Buscar"
            class="w-full outline-none bg-transparent"
            (input)="filtrarIngredientes($event)">
        </div>

        <!-- Resultados de búsqueda con scroll y fondo blanco -->
        <div *ngIf="ingredientesFiltrados.length > 0"
             class="bg-white border rounded-lg shadow-md max-h-40 overflow-y-auto mt-2 p-2">
          <div *ngFor="let ingrediente of ingredientesFiltrados.slice(0, 5)"
               class="cursor-pointer hover:bg-gray-100 p-2 rounded"
               (click)="seleccionarIngrediente(ingrediente)">
            {{ ingrediente.nombre }}
          </div>
        </div>

        <!-- Ingredientes seleccionados como chips de Ionic -->
        <div class="flex gap-2 flex-wrap mt-3">
          <ion-chip *ngFor="let ingrediente of ingredientesSeleccionados; let i = index">
            <ion-label>{{ ingrediente.nombre }}</ion-label>
            <ion-icon name="close-circle" (click)="eliminarIngrediente(i)"></ion-icon>
          </ion-chip>
        </div>

        <!-- Alergenos -->
        <h4 class="font-semibold mb-2">Alergenos:</h4>
        <div class="grid grid-cols-7 gap-2">
          <div *ngFor="let alergeno of alergenos" class="cursor-pointer">
            <img
              [src]="alergeno.imagen"
              alt="{{ alergeno.nombre }}"
              class="w-full h-auto border rounded shadow"
              [class.border-yellow-400]="esAlergenoSeleccionado(alergeno)"
              (click)="toggleAlergeno(alergeno)"
            />
          </div>
        </div>
      </div>
      <div *ngIf="validadorConflictoAlergenos()" class="text-red-500 text-sm p-2 mt-2 border border-red-300 rounded bg-red-50">
        Existe un conflicto entre tus ingredientes seleccionados y alérgenos. Por favor, revisa que ningún ingrediente contenga un alérgeno que hayas seleccionado.
      </div>
    </form>

    <!-- Paso 4 - Resumen -->
    <div *ngIf="currentStep === 4" class="space-y-4 bg-white p-6 rounded-lg shadow-lg">
      <h3 class="text-xl font-bold text-center text-gray-800 mb-4">Resumen del Registro</h3>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <p><strong class="text-gray-700">Nombre de usuario:</strong> {{ formStep1.value.username }}</p>
        <p><strong class="text-gray-700">Email:</strong> {{ formStep1.value.email }}</p>
        <p><strong class="text-gray-700">Nombre:</strong> {{ formStep2.value.nombre }}</p>
        <p><strong class="text-gray-700">Apellidos:</strong> {{ formStep2.value.apellidos }}</p>
        <p><strong class="text-gray-700">Fecha de nacimiento:</strong> {{ formStep2.value.fecha }}</p>
        <p><strong class="text-gray-700">Teléfono:</strong> {{ formStep2.value.telefono }}</p>
        <p><strong class="text-gray-700">Descripción breve:</strong> {{ formStep2.value.descripcionBreve || 'No especificada' }}</p>
      </div>

      <!-- Ingredientes seleccionados -->
      <div class="mt-4">
        <h4 class="text-lg font-bold text-gray-800">Ingredientes Seleccionados:</h4>
        <div *ngIf="ingredientesSeleccionados.length > 0; else sinIngredientes">
          <div class="flex gap-2 flex-wrap mt-2">
            <ion-chip class="sinPointer" *ngFor="let ingrediente of ingredientesSeleccionados">
              <ion-label >{{ ingrediente.nombre }}</ion-label>
            </ion-chip>
          </div>
        </div>
        <ng-template #sinIngredientes>
          <p class="text-gray-500">No se han seleccionado ingredientes.</p>
        </ng-template>
      </div>

        <h4 class="text-lg font-bold text-gray-800 mt-3">Alergenos Seleccionados:</h4>
        <div class="grid grid-cols-7 gap-2" *ngIf="alergenosSeleccionados.length > 0; else sinAlergenos">
        <div *ngFor="let alergeno of alergenosSeleccionados">
          <img
            [src]="alergeno.imagen"
            alt="{{ alergeno.id }}"
            class="w-full h-auto border rounded shadow"
          />
        </div>
        </div>
        <ng-template #sinAlergenos>
          <p>No se han seleccionado alérgenos.</p>
        </ng-template>
    </div>

    <!-- Botones de navegación -->
    <div class="flex justify-between mt-8">
      <app-boton
        *ngIf="currentStep > 1"
        (click)="previousStep()"
        [label]="'Anterior'"
      >Anterior</app-boton>

      <app-boton
        (click)="nextStep()"
        [color]="'var(--color-amarillo-boton)'"
        [label]="currentStep === 4 ? 'Finalizar' : 'Siguiente'"
        [disabled]="!isCurrentStepValid()">
      </app-boton>
    </div>
  </div>
</div>
