<div class="flex items-center justify-center min-h-screen">
  <div class="color-verde-claro sm:p-8 p-4 rounded-lg shadow-lg w-96 mx-3 border border-gray-600">
    <h2 class="text-2xl font-bold mb-6 text-center">Cambio de Contraseña</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <!-- Campo de Email -->
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Email</label>
        <input
          type="email"
          formControlName="email"
          placeholder="Introduzca su email"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-amber-500 focus:border-amber-500"
        />
        <div *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched" class="text-red-500 text-sm mt-1">
          El email es obligatorio.
        </div>
        <div *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched" class="text-red-500 text-sm mt-1">
          El email no es válido.
        </div>
      </div>

      <!-- Botón de Enviar Enlace -->
      <app-boton
        [label]="isLoading ? 'Cargando...' : 'Enviar enlace'"
        [color]="'var(--color-amarillo-boton)'"
        [disabled]="form.invalid || isLoading"
        size="medium"
      ></app-boton>

    </form>
  </div>

  <app-alert-confirmar
    *ngIf="showAlertConfirmar"
    [message]="alertMessage"
    (confirm)="onConfirm()"
    [confirmLabel]="'Aceptar'"
    [showCancelButton]="false"
    [showIcon]="false">
  </app-alert-confirmar>

  <app-alert-info
    [message]="alertMessage"
    [isVisible]="isAlertVisible"
    [type]="alertType">
  </app-alert-info>
</div>
